{% extends '@resources/tiers/_base.twig' %}
{% block html %}
	{{ use('app/widgets/PageLoader') }}
	{% set pageLoader = page_loader_widget() %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{{ 'main-layout' | layoutClass }}
	{{ pageLoader | raw }}
	{{ parent() }}
{% endblock %}
{% block content %}
	<div class="main-wrapper">
		<section class="logo-wrapper"></section>
		<header class="header-wrapper">
			<h1 class="title">{{ this.title | letters }}</h1>
		</header>
		<nav class="nav-wrapper">
			{{ "menu" | vue({list: param('menu') | run}) }}
		</nav>
		<section class="user-wrapper">
			{{ "theme-switcher" | vue }}
			<div class="user">
				<web-icon path="mdiAccountCircleOutline" color="dark-text-emphasis"></web-icon>
				{{ profile().name }}</div>
			{{ '<web-icon path="mdiPower" color="dark-text-emphasis"></web-icon>' | raw | link("/default/logout", {}, {data: {method: "post"}, class: "logout-btn"}) }}
		</section>
		<main class="view-wrapper">
			<section class="content-wrapper">
				{{ content | raw }}
			</section>
		</main>
	</div>
{% endblock %}
